.list-audio{
    margin: 10px auto;
    display: flex;
    .audio-item{
        border-radius: 15px 15px 0 0;
        margin: 10px auto;
        display: flex;

        .card{
            border-radius: 15px; 

            &:hover{
                transform: translateY(-5px) translateZ(0);
                box-shadow: 0 16px 32px 0 rgba(10,16,34,.2), 0 0 0 transparent;
            }
        }
        .audio-item-header{
            border-radius: 15px 15px 0 0;
            padding: 0;
            height: 200px;
            img{
                height: 100%;
                border-radius: 15px 15px 0 0;
            }
        }
        .audio-item-body{
            padding: 10px;
            .audio-item-body-avatar{
                margin: 0;

            }
            .audio-item-body-info{
                margin: 0;
                font-size: 18px;
                padding-top: 5px
            }

        }
    }
}

.fa-star:hover{
    cursor: pointer;
}
